@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d0add5;
    --foreground: #ffffff;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* adjust to navbar height */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.dot-pattern {
    background-image: radial-gradient(circle, rgba(139,92,246,0.12) 1px, transparent 1px);
    background-size: 18px 18px;
}

@media (max-width: 640px) {
  body {
    font-size: 0.95rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8edf5; 
}

::-webkit-scrollbar-thumb {
  background: #7c5473; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #874080; 
}